{% extends 'PageBundle::base.html.twig' %}

{% block content %}
<div class="wrap text">

    <!---start-Features---->
    <div class="feature-grids">

        <div class="feature-grid-head">
            <div class="feature-grid-head-top">
                <label></label><span></span><label></label>
                <div class="clear"> </div>

                <h3>{{ partsGroups[0].model.name }}</h3>
            </div>
        </div>
        <div class="clear"> </div>
        <div class="feature-grid">

            <div class="feature-grid-center">
                <div class="clear"> </div>
            </div>

            <div class="feature-grid-center">
                <ul>
                {% for partsGroup in partsGroups %}
                    <li><a href="{{ path('catalog_part_select', {'partsGroupId': partsGroup.id}) }}">{{ partsGroup.name }}</a></li>
                {% endfor %}
                </ul>

            </div>
        </div>
        <div class="clear"> </div>
    </div>


</div>
{% endblock %}