{% block footer %}
<div class="footer">
    <div class="wrap">
        <div class="footer-grid footer-grid2">
            <h4>{{ 'kontakt'|trans }}</h4>
            <ul>
                <li><span> </span> <label>Pfenningbacherstr. 19<br>Neuburg am Inn, Germany</label></li>
                <li><span> </span> <label>df@exoticcarparts.de</label></li>
                <li><span> </span> <label>(+49) 0151 11 61 75 84</label></li>
                <li><span> </span> <label>(+49) 850 29 172 61</label></li>
            </ul>
        </div>
        <div class="footer-grid2">
            <div class="ebay">
                <h4>{{ 'aukcje'|trans }}</h4>
                <div id="auction-nudge-items" class="auction-nudge"></div>   
            </div>
        </div>

        <div class="clear"> </div>

    </div>
</div>
{% endblock %}